@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --border-radius: 50%;
}



body{
    background: white; 
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#button1{
    transform: scale(0.9, 0.9);
    border: 10px groove #010000;
    background-image: radial-gradient(#F7CF0A, #FB640A);
}
#button1:active{
    transform: scale(0.9, 0.9);
    border: 3px groove #12e6ed;
}
#button1:hover{
    transform: scale(1, 1);
    background-image: linear-gradient( #0090f6, #5f3eab);
}
#button2{
    transform: scale(1, 1);
    border: 5px outset;
    background-image: linear-gradient( #E8C943, #394D7A);
    border-radius: var(--border-radius);
    width: 90px;
    height: 80px;
}
#button2:active{
    transform: scale(1.1, 1.1);
    background-image: linear-gradient( #f6f600, #ab3e8e);
    border-radius: var(--border-radius);
}

.header {
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
    border-radius: var(--border-radius);
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-shadow: 10px 10px 10px #FFFFBE(0, 0, 0, 0.5);
}
@keyframes example {
    from {background-image: repeating-conic-gradient(red 10%, yellow 30%);}
    to {background-image: repeating-conic-gradient(yellow 10%, red 30%);}
}

.alert {
    border-radius: var(--border-radius);
    border: 3px outset;
}

