@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white; 
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#button1{
    transform: scale(0.9, 0.9);
    border: 10px groove #12e6ed;
    background-image: radial-gradient(rgb(157, 16, 16) 50%, green);
}
#button1:active{
    transform: scale(0.9, 0.9);
    border: 3px groove #12e6ed;
}
#button1:hover{
    transform: scale(1, 1);
    background-image: linear-gradient( #0090f6, #5f3eab);
}
#button2{
    transform: scale(1, 1);
    background-image: linear-gradient( #0090f6, #ab3e8e);
    border-radius: 50%;
    width: 90px;
    height: 80px;
}
#button2:hover{
    transform: scale(1, 1);
    background-image: linear-gradient( #f6f600, #ab3e8e);
    border-radius: 50%;
}

.header {
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
    border-radius: 50%;
}

/* #name {
    background-image: conic-gradient(red, green, yellow);
    border: 5px ridge #12e6ed;
    border-radius: 30%;
    width: 100px;
    height: 100px;
} */


.alert {
    border-radius: 50%;
    border: 3px outset;
}